{% extends 'default/layout.html.twig' %}

{% block content %}
	<div class="container jumbotron">
		<div class="row">
			<div class="col-xs-12 box">
				<h1>{{ page.name }}</h1>
				<p>{{ page.content }}</p>
			</div>
		</div>
	</div>
{% endblock %}