body {
	/* Background pattern from subtlepatterns.com */
	background-image: url("../img/green_cup.png");
	color: #333;
	font-family: 'Slabo 27px', serif;
}

#logo img {
	width: 150px;
	display: inline-block;
}

#logo {
	padding: 10px;
	padding-top: 20px;
}

#logo a {
	float: none;
	width: auto;
}
.navbar-default {
	/* Background pattern from subtlepatterns.com */
	background-image: url("../img/witewall_3.png");
}

.navbar-default .navbar-nav > li > a {
	color: #333;
	font-size: 16px;
}

.navbar-default .navbar-nav > .current > a, 
.navbar-default .navbar-nav > .current > a:focus, 
.navbar-default .navbar-nav > .current > a:hover {
	color: #333;
	background-color: inherit;
	text-decoration: underline;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .current > a:hover,
.navbar-default .navbar-nav > .current > a:focus {
	color: #777;
}

#calculator button {
	width: 100%;
}

#result {
	padding: 10px;
}

table {
	margin-left: auto;
	margin-right: auto;
	font-size: 18px;
}

table td {
	width: 15px;
	height: 28px;
	text-align: center;
	box-sizing: content-box;
}

.draft {
	font-size: 13px;
}
.draft td{
	height: 20px;
}

.border_bottom {
	border-bottom: 1px solid #333;
}

.jumbotron {
	padding-bottom: 20px;
	padding-top: 0px;
	border-radius: 0px;
	/* Background pattern from subtlepatterns.com */
	background-image: url("../img/witewall_3.png");
}
.jumbotron h1 {
	font-size: 26px;
}
.jumbotron p {
	font-size: 16px;
}

#form {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
}

.form-horizontal .form-group {
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.success {
	color: #4cae4c;
}

.errors {
	color : #ff3333;
	font-size: 16px;
}
.errors li {
	padding-bottom: 5px;
}

#calculator button {
	margin-bottom: 14px;
}

.form_buttons:nth-child(1){
	margin-right: 2%;
}
	
.form_buttons:nth-child(2){
	margin-left: 2%;
}
		
.form_buttons {
	float: left;
	width: 48%;
}

#range {
	padding-left: 20px;
	padding-right: 20px;
}
#range label {
	font-weight: 500;
	font-size: 16px;
}
#range div span:nth-child(1) {
	float: left;
}
#range div span:nth-child(2) {
	float: right;
}

@media (min-width: 768px) {
		
		#navbar {
			margin-top: 60px;
		}
		
		.jumbotron {
			border-radius: 6px;
			margin-bottom: 100px;
			padding-bottom: 50px;
		}
		.box, .errors {
			padding: 10px;
			padding-left: 60px;
			padding-right: 60px;
		}
	}
}