
.icon-divide:before { content: '\e800'; } /* '' */
.icon-minus-1:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-plus-1:before { content: '\e809'; } /* '' */